@{
    ViewData["Title"] = "Home Page";
}

<h1>All Parks:</h1>

<ol>
@foreach (Park park in Model)
{
    <ul>
        <li>ID: @park.ParkId</li>
        <li>Name: @park.Name</li>
        <li>Year: @park.Year</li>
        <li>Type: @park.Type</li>
    </ul>
    <br>
}
</ol>